@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&family=Roboto:wght@500&family=Teko:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: #fff;
}
